---
import "../styles/global.css";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
// Supports weights 200-700
import "@fontsource-variable/oswald";
const {
  title = "Club Billares Chapinero",
  description = "El mejor lugar para disfrutar del billar en Chapinero",
  image = "/portada1.jpg",
  urlBase = import.meta.env.PUBLIC_SITE_URL ,
  urlCompleta = import.meta.env.PUBLIC_SITE_URL,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/chapinero.png" />

    <!-- Metaetiquetas dinámicas -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content="billares, chapinero, club, billar" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${urlBase}${image}`} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={urlCompleta} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${urlBase}${image}`} />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
    font-family: "Oswald Variable", sans-serif;
    margin-top: 2rem;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: #091f8f;
    background: linear-gradient(to right, #1f1c18, #530901, #1f1c18);
    color: #fffcfc;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  h1 {
    font-family: "Oswald Variable", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    font-family: "Oswald Variable", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 0.75rem;
    padding-left: 0.5rem;
  }
  p {
    font-size: 1.1rem;

    max-width: 800px;
    margin-bottom: 1.2rem;
    text-align: justify;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  @media (min-width: 768px) {
    body {
      margin-top: 9rem;
    }
  }
</style>

<script src="../Scripts/EventScroll.ts"></script>
