---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

const {
  title = "Club Billares Chapinero",
  description = "El mejor lugar para disfrutar del billar en Chapinero",
  image = "/portada1.jpg",
  url = "https://club-chapinero.vercel.app",
} = Astro.props;


---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/chapinero.png" />

    <!-- Metaetiquetas dinámicas -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content="billares, chapinero, club, billar" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${url}${image}`} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
    margin-top: 2rem;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: #091f8f;
    background: radial-gradient(
      circle,
      rgba(9, 31, 143, 1) 0%,
      rgba(94, 3, 21, 1) 100%
    );
    body {
      color: #fff;
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  @media (min-width: 768px) {
    body {
      margin-top: 9rem;
    }
  }
</style>

<script src="../Scripts/EventScroll.ts"></script>
